.cache
.local
.npm
.env
.ash_history
/docker-compose.override.yml
/pocketbase/config.json
/pocketbase/result
.direnv/
/pocketbase/password
/pocketbase/pb_data/*
/pocketbase/pocketbase
/pocketbase/pocketbase.exe
/pocketbase/pb_public/*
.DS_Store
/mannbase/node_modules
/mannbase/playwright-report
/mannbase/build
/mannbase/.svelte-kit
package
.env
.env.*
!.env.example

